atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
configparser==3.7.4
dlib==19.16.0
docopt==0.6.2
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
Flask-Login==0.4.1
Flask-WTF==0.14.2
grip==4.5.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Markdown==3.1.1
MarkupSafe==1.1.1
more-itertools==6.0.0
-e git+git@github.com:mcflyhalf/nipo.git@bcd153ce03fda851d9dad7fdb6b8828f88b842f4#egg=nipo
numpy==1.16.1
opencv-python==4.0.0.21
path-and-address==2.0.1
Pillow==7.0.0
pluggy==0.9.0
psycopg2==2.7.7
psycopg2-binary==2.7.7
py==1.8.0
Pygments==2.4.2
pytest==4.3.0
requests==2.22.0
six==1.12.0
SQLAlchemy==1.3.13
urllib3==1.25.3
Werkzeug==0.15.4
WTForms==2.2.1
