/*bulma - https://bulma.io/documentation/layout/tiles/*/

/*CSS Variables*/
:root{
	--primary: #ddd;
	--dark: #333;
	--primary-present:#6fb964 ;
	/*--secondary-present: ;*/
	--primary-absent: #ff00009c;
	/*--secondary-absent: ; */
	--light: lightslategrey;
	/*--lighter: ;*/
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	--disabled-button-opacity: 0.3;
	--bulma-primary: #00d1b2;
}


body{
/*	background-color: #771f37;*/
	/*background-color: #d26e20;*/

}

ul{
	display: flex;
	flex-direction: row-reverse;
	list-style-type: none;

}

li{
	padding: 5px;
}

h1{
	background-color: black;
	color: white;
	text-align: center;
	opacity: 0.5;
	}

section{
	padding: 10px 5px;
}

section.footer{
	padding: 10px 0;
	text-align: center;
}

section.course-display{
	display:flex;
	flex-direction:row;


}

div.course-display{
	flex-wrap: wrap;
	width: 49%;
	margin: 2px;
	height: 40px;
	background-color: #773f37;
	display: inline-block;
	font-size: 30px;

	text-align: center;
}


section.dashboard{
	background-color: #262682;
	display: flex;
	flex-direction: row;

}

span.stud-info{

	font-size: 37px;
	color: white;
}

span.message{
	position: relative;
	top: 12%;
	font-size: 20px;
	color: black;	
}

div.attendance-summary,select.courseSelect{
	background-color: #CFD8DC;
	position: absolute;
	margin: auto;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #D26E20;
	border-radius: 5px;
	bottom: 3px;
	height:20%;
	text-align: center;
	font-size: 1.2em;
	width:97%;
	box-sizing: border-box;

}

div.js-plotly-plot{
	/*This is essentially #att-sum*/
	width: 70%;
	/*padding-top: 100%;	Set1:1 aspect ratio*/

}

#att-sum{
	padding-top: 0; /*Overides div.js-plotly-plot but dont remove the other one*/
}

section.main{
	box-sizing: border-box;
	min-height: 75vh;
	padding-top: 15px;
	}

div.main{
	min-height: 75vh;
	}

hr{
	margin: 5px;
}

.wrapper{
	display: grid;
	grid-gap: 20px;
}

.wrapper-f{
	display: flex;
}

div.main{
	grid-template-columns: 1fr 1fr;
}

.to-bottom{
	align-self: end;
	justify-self: center;
	padding-bottom: 10px;
	width:100%;

}

/*Modify Plotly presentation*/

/*Important here overides plotly defaults*/

.svg-container{
	height: unset !important;
	padding-top: 80% !important;
}

.main-svg{
	background: unset !important;
}
div.chart-container{
	grid-template-rows: 1fr;
}

.infolayer{
	position:relative;
	right: 100px;
	bottom: 10px;
}


/*Staff and Admin Dashboard styles*/
.staff-db-wrapper, .admin-db-wrapper{
	grid-template-columns: 200px auto; /* Use minmax here??*/
}


/*side-panels*/
div.side-panel{
	background-color: var(--primary);
}

ul.side-panel-menu{
	flex-direction: column;
	align-items: left;
}



/*Staff Dashboard styles*/
/*main page*/

.staff-db-wrapper .main-page{
	grid-template-areas: 
	"small-container-a small-container-b"
	". ."
	"tile-container tile-container";
}

.small-container-a{
	grid-area: small-container-a;
	justify-self: left; 
}

.small-container-b{
	grid-area: small-container-b;
	justify-self: right;
}

.tiles{
	grid-area: tile-container;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.tile-card{
	grid-template-areas: 
		"usr-img usr-img"
		"usr-img usr-img"
		"stud-name stud-name"
		"btn-present btn-absent";
		justify-items: center;

	background: var(--primary);
	box-shadow: var(--shadow);
	padding: 1.5rem 1rem;
}

.fa-user{
	grid-area: usr-img;
}

.student-absent .fa-user{
	color: var(--primary-absent);
}

.student-present .fa-user{
	color: var(--primary-present);
}

.tile-card h4{
	grid-area: stud-name;
}

.tile-card button{
	border: none;
	color: white;
	padding: 2px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

button.absent-btn{
	background-color: var(--primary-absent);
}

button.present-btn{
	background-color: var(--primary-present);
}

button:hover{
	background: var(--dark);
	color: white;	
}

.tile-card .present-btn{
	grid-area: btn-present;
}

.tile-card .absent-btn{
	grid-area: btn-absent;
}

.student-absent .absent-btn{
	opacity: var(--disabled-button-opacity);
}

.student-absent .absent-btn:hover{
	cursor: not-allowed;
}

.student-present .present-btn{
	opacity:var(--disabled-button-opacity);	
}

.student-present .present-btn:hover{
	cursor: not-allowed;
}


/*Admin Dashboard styles*/
/*main page*/

.admin-db-wrapper .main-page{
	/*
		main-heading (50px)
		Summary-tiles (auto)
		Search-area (50px)
		info-table (auto)
	*/
	/*Seems like flex doesnt have 
	a convenient way to set sizes 
	of children*/	
	flex-direction: column;

}

.admin-main-page>div{
	margin-top: 15px;
	margin-bottom: 15px;
}

.admin-db-wrapper > .main-page > .main-heading{
	height: 50px;
}

.admin-db-wrapper > .main-page > .summary-tiles{
	height: auto;
}

.admin-db-wrapper > .main-page > .search-area{
	height: 50px;
}

.admin-db-wrapper > .main-page > .info-table{
	height: auto;
}


/*Search area styles*/
.search-area{
	justify-content: center;
}

.search-area>div{
	margin-left: 10px;
}

div.search-bar-wrapper{
	width: auto;
}

.search-bar-wrapper>a{
	padding-top: 4px;
	padding-right: 4px;
}

div.search-field-selector{
	width: 120px;	/*This width must be the same as .search-area select*/
}

.search-area select{
	width: 120px; 	/*This width must be the same as div.search-field-selector*/
}