
body{
/*	background-color: #771f37;*/
	background-color: #d26e20;
}

ul{
	display: flex;
	flex-direction: row-reverse;
	list-style-type: none;

}

li{
	padding: 5px;
}

h1{
	background-color: black;
	color: white;
	text-align: center;
	opacity: 0.5;
	}

section{
	padding: 10px 5px;
}

section.course-display{
	display:flex;
	flex-direction:row;


}

div.course-display{
	flex-wrap: wrap;
	width: 49%;
	margin: 2px;
	height: 40px;
	background-color: #773f37;
	display: inline-block;
	font-size: 30px;

	text-align: center;
}


section.dashboard{
	background-color: #262682;
	display: flex;
	flex-direction: row;

}

div.dashboard{
	position: relative;
	background-color: #E2AE80;
	width: 50%;
	margin: 5px;
	max-height: 302px;
	border-radius: 2px;
	font-family: 'Roboto', 'sans-serif';


}
div.dashboard>*{
	left: 10px;
	position: relative;
}

div.stud-info::after {
	content: '>';
	font: 17px "Roboto";
	color: #8C8C8C;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 11px;

	/*Position of the select arrow. Very hacky*/
	top: 85%;
	right: 5%;
	padding: 0 0 2px;

	/*left line */
	/*border-bottom: 1px solid red;*/

	position: absolute;
	pointer-events: none;
}


span.stud-info{

	font-size: 37px;
	color: white;
}

span.message{
	position: relative;
	top: 12%;
	font-size: 20px;
	color: black;	
}

div.attendance-summary,select.courseSelect{
	background-color: #CFD8DC;
	position: absolute;
	margin: auto;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #D26E20;
	border-radius: 5px;
	bottom: 3px;
	height:20%;
	text-align: center;
	font-size: 1.2em;
	width:97%;
	box-sizing: border-box;

}

select.courseSelect{
	/*Remove the defult button*/
	-webkit-appearance: none;
	-moz-appearance: none;
 	appearance: none;

	/*border-color: #D26E20;*/

}



section.main{
	box-sizing: border-box;
	min-height: 75vh;
	}

a{
	text-decoration: none;
	background-color: green;
}