<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
        {% if title %}
        <title>{{ title }} | Nipo</title>
        {% else %}
        <title>Nipo Attendance</title>
        {% endif %}
    </head>
    <body>
        <section class = "header">
            <div>
                <nav>
                    <ul>
                        Nipo:
                        <li><a href="{{ url_for('landing') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout {{current_user.username}}</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </section>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <section class= "main">
        {% block content %} {% endblock %}
        </section>
        <hr>
        <section class="footer">
            <div>
                Generic Footer for Nipo
            </div>
        </section>
    </body>
</html>