<!-- Design of this from https://www.fluidui.com/editor/live/ -->
{% extends "base.html" %}

{% block content %}


<div>
	<h1> Student attendance Summary</h1>
</div>

<section class="dashboard main">
	<div class="dashboard stud-info">
		<span class="stud-info">
			<p> {{current_user.name}} <br> ID: ABC12345{{current_user.student_id}}<br></p>
		</span>
		<span class="message">
			<p> Dynamic Course selector (javascript??) </p>
		</span>
		<select class="courseSelect">
				<option value= "all_modules">All Modules</option>
			{%for module in modules%}
				<option value= "{{module.code}}">{{module.code}} {{module.name}}</option>
			{%endfor%}
		</select>
	</div>
	<div class="dashboard stud-data">
		<p> Put the pie chart here</p>
		<div class="attendance-summary">
			<p> Present: 7/12 &nbsp &nbsp &nbsp Late:2/12 &nbsp &nbsp &nbsp Absent3/12</p>
		</div>
		<p>  </p>
	</div>

	
</section>
<script src="{{url_for('static',filename='javascript/calcAttendance.js')}}"></script>
	
{% endblock %}
