<!-- Design of this from https://www.fluidui.com/editor/live/ -->
{% extends "base.html" %}

{% block content %}

<div class="level has-background-link">
	<h1 class="title level-item"> Student attendance Summary</h1>
</div>
<div class="wrapper has-background-success main">
	<div class="wrapped wrapper stud-info has-background-warning">
		<div class="stud-details">
			<p class="is-size-1 has-text-light"> 
				{{current_user.name}} <br> 
				ID: ABC12345{{current_user.student_id}}<br>
			</p>
		</div>
		<div class="to-bottom">
			<p> Dynamic Course selector (javascript??) </p>
			<div class="select is-link">
				<select id="courseList">
						<!-- <option value= "all_modules">All Modules</option> -->
					{%for module in modules%}
						<option value= "{{module.code}}">{{module.code}} {{module.name}}</option>
					{%endfor%}
				</select>
			</div>
		</div>
	</div>

	<div class="wrapped wrapper chart-container has-background-grey">
		<!-- <p> Text before pieChart</p> -->
		<div id="attSum">
			<!-- The actual Pie Chart -->
			
		</div>

		<div class="to-bottom has-text-centered has-background-grey-light">
			<p class="is-size-5 has-text-light"> Present: 7/12 &nbsp &nbsp &nbsp Late:2/12 &nbsp &nbsp &nbsp Absent3/12</p>
		</div>
	</div>
</div>


<script src="{{url_for('static',filename='javascript/student_dashboard/calcAttendance.js')}}"></script>
	
{% endblock %}
